@model MishPets.Models.Pet

@{
    ViewBag.Title = "Удаление питомца";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление питомца</h2>

<h3>Действительно ли хотите удалить данного питомца?</h3>
<div>
    @*<h4>Pet</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KindOfPet.Kind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KindOfPet.Kind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionOfPet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionOfPet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlagMale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlagMale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusOfPet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusOfPet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePet)
        </dt>
        <dd>
            @if (Model.ImagePet != null)
            {
                <img class="img-thumbnail" width="200" height="200" src="@Url.Action("GetImage", "Pets", new { Model.PetId })" />
            }
        </dd>

        @*<dd>
            @Html.DisplayFor(model => model.ImagePet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageMimeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageMimeType)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к каталогу питомцев", "Index")
        </div>
    }
</div>
