@model MishPets.Models.NewHomeContract

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NewHomeContract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pet.NickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateHomeStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateHomeStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUserForNewHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUserForNewHome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewHomeContractId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
