@model IEnumerable<MishPets.Models.OverexposureContract>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pet.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOverexpStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOverexpEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pet.NickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOverexpStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOverexpEnd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OverexposureContractId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OverexposureContractId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OverexposureContractId })
        </td>
    </tr>
}

</table>
